server:
  port: 8083

spring:
  application:
    name: customer-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/customer_service}
    username: ${SPRING_DATASOURCE_USERNAME:customer_user}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

jwt:
  issuer: identity-service
  signerKey: ${JWT_SIGNER_KEY}
