server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/product_service
    username: product_user
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: ProductServicePool

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

  cloud:
    discovery:
      enabled: false

logging:
  level:
    com.dang.productservice: DEBUG
    org.hibernate.SQL: DEBUG
    # chỉ bật cái này khi cần soi parameter
    # org.hibernate.orm.jdbc.bind: TRACE

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

jwt:
  issuer: identity-service
  signerKey: ${JWT_SIGNER_KEY}

security:
  public-paths:
    - /actuator/health
    - /actuator/info
    - /error
